<nz-layout class="apps-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a [routerLink]="['main']">
        <img src="https://cdn-icons-png.flaticon.com/512/10197/10197372.png" alt="logo" />
        <h1>Crc</h1>
      </a>
    </div>
    <div nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="navigation-container">
      <ul>
        @for (routeModel of dataListsRoutes; track $index) {
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="[routeModel.path]">{{ routeModel.title }}</a>
          </li>
        }
      </ul>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <span class="header-trigger mr-2 items-center gap-5">
          {{ myDate | date: 'medium'   }}
        </span>
      </div>
    </nz-header>
    <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
    <nz-content>
      <div class="inner-content">
        <router-outlet/>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
